doctype html
html
  head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    .global-wrapper
      h1 #{title}

      a(href="/") Return to the homepage

      form(action="/update-cobj", method="post")
        label(for="name") Name:
        input(type="text", name="name", required)
        label(for="first_skill") First Skill:
        input(type="text", name="first_skill", required)
        label(for="secondary_skill") Secondary Skill:
        input(type="text", name="secondary_skill", required)
        
        button(type="submit") Add item